<div class = "container" >
    <div class="row" style="background-color: rgba(125, 169, 155, 0.706); height: 50%; text-align: center;">
        <div class="col-sm-6 ">
            <h1 id="section_title" style="color: rgb(3, 94, 75);margin-top: 20%;">Sentiment<br> Analysis </h1>
        </div>
        <div class="col-sm-6 trends_box" style="font-size: 1.5em; color: rgb(15, 74, 54); margin-top: 10%;" >
            <p>
                The relation seems to be {{neg_pos}} with a score of {{s}}
            </p>
        </div>
</div>
</div>